---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


<div class="row b20 homepage">
    <div class="small-12 columns">
    <h2><a href="http://phlow.tv">Phlow.TV</a></h2>
    </div><!-- /.small-12.columns -->
</div>

<div class="row b60">
    <div class="medium-6 columns">
        <div class="flex-video"><iframe width="640" height="360" src="https://www.youtube.com/embed/7CUcHTqsomg?list=PL_9q18jtRBgFHxUz93b3I1BN4vmYoVrLB" frameborder="0" allowfullscreen></iframe></div>
    </div><!-- /.medium-6.columns -->


    <div class="medium-6 columns">
        <p class="subheadline">YouTube-Tutorials</p>
        <h2 class="t0"><a href="http://phlow.tv">Videos anschauen & lernen</a></h2>
        <p>
            In unseren Video-Tutorials erklären wir Dir Schritt für Schritt,
            wie Du Webdesigner wirst. Oder wir stellen Dir hilfreiche Software
            vor mit der Du produktiver arbeitest. <a href="https://www.youtube.com/c/phlow?sub_confirmation=1">Folge uns auf YouTube</a> und
            verpasse keine Sendung.
        </p>
        <ul class="side-nav">
            <li><a href="https://www.youtube.com/playlist?list=PL_9q18jtRBgGzsAZ6cSjz35Gvz8VxtDSh">Webdesign Lernen ›</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PL_9q18jtRBgHgmvs-_WyM-k4fO-yzBNDU">Produktivität steigern ›</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PL_9q18jtRBgEym-9BzdCWRknn7XX_teQi">WordPress Videoanleitungen ›</a></li>
            <li><a href="https://www.youtube.com/watch?v=_IoLqqzGFF0&list=PL_9q18jtRBgFZCT5MopyP6EGqQbMrgDf5&index=1">Bildbearbeitung mit kostenlosem Pixlr Touch Up ›</a></li>
            <li></li>
        </ul>
        <br>

        <p class="sans text-right"><a class="button tiny radius" href="http://phlow.tv"><strong>Mehr Phlow.TV ›</strong></a></p>
    </div>
</div><!-- /.row -->





{{ content }}
